<div class="container-full">

  <app-nav (statusMenu)="statusMenu($event)"></app-nav>
  <div class="container" [ngClass]="{'sidebar-hidden': sidebarHidden}">

    <div class="sidebar" [ngClass]="{'md-dark': lightModeEnabled, 'md-light': !lightModeEnabled}">
      <div class="sidebar-cont" [ngClass]="{'md-dark': !lightModeEnabled, 'md-light': lightModeEnabled}">
        <div class="btn-tab">

          <!-- TODO: gett routes for the API, need name and route -->
          <button [ngClass]="{'md-dark': lightModeEnabled, 'md-light': !lightModeEnabled}" routerLink="integrantes" routerLinkActive="active">
            <img src="assets/img/shared/members.png" alt="icon">
            <p>Integrantes</p>
          </button>

          <button [ngClass]="{'md-dark': lightModeEnabled, 'md-light': !lightModeEnabled}" routerLink="plantilla" routerLinkActive="active">
            <img src="assets/img/shared/citizen.png" alt="icon">
            <p>Plantilla de trabajo</p>
          </button>

          <button [ngClass]="{'md-dark': lightModeEnabled, 'md-light': !lightModeEnabled}">
            <img src="assets/img/shared/incidence.png" alt="icon">
            <p>Incidencia</p>
          </button>

          <button [ngClass]="{'md-dark': lightModeEnabled, 'md-light': !lightModeEnabled}">
            <img src="assets/img/shared/incidence.png" alt="icon">
            <p>Ciudadanos</p>
          </button>

          <button [ngClass]="{'md-dark': lightModeEnabled, 'md-light': !lightModeEnabled}">
            <img src="assets/img/shared/report.png" alt="icon">
            <p>Reportes</p>
          </button>
        </div>
      </div>
    </div>

    <div class="cont-body" [ngClass]="{'md-dark': lightModeEnabled, 'md-light': !lightModeEnabled}">
      <div class="dinamic-page" [ngClass]="{'md-dark': !lightModeEnabled, 'md-light': lightModeEnabled}">
        <router-outlet></router-outlet>
      </div>
      <app-footer [ngClass]="{'md-dark': !lightModeEnabled, 'md-light': lightModeEnabled}"></app-footer>
    </div>

  </div>
</div>
