<div class="cont-table">
  <table>
    <tr class="tr-title">
      <th class="cell-init">Nombre</th>
      <th class="cell-init">Puesto</th>
      <th class="cell-init">Justificacion</th>
      <th class="cell-action">Editar</th>
      <th class="cell-action">Eliminar</th>
    </tr>

    <tr class="tr-data">
      <td class="cell-data">Javier Flores Ibañez</td>
      <td class="cell-data">Responsable de Calle</td>
      <td class="cell-data"></td>
      <td class="btn-td">
        <app-edit-team-modal
          [titleModal]="'No Participa'"
          [currentCitizen]="userEdit[0]"
        ></app-edit-team-modal>
      </td>
      <td class="btn-td">
        <button class="alert-error">X</button>
      </td>
    </tr>
    <tr class="tr-data">
      <td class="cell-data">Victor Zeferino Garcia</td>
      <td class="cell-data">Apoyo</td>
      <td class="cell-data"></td>
      <td class="btn-td">
        <app-edit-team-modal
          [titleModal]="'No Participa'"
          [currentCitizen]="userEdit[1]"
        ></app-edit-team-modal>
      </td>
      <td class="btn-td">
        <button class="alert-error">X</button>
      </td>
    </tr>
    <tr class="tr-data">
      <td class="cell-data">Marco Antonio Romero Reyes</td>
      <td class="cell-data">Apoyo</td>
      <td class="cell-data"></td>
      <td class="btn-td">
        <button class="alert-ok"><img src="assets/img/shared/edit.png" alt=""></button>
      </td>
      <td class="btn-td">
        <button class="alert-error">X</button>
      </td>
    </tr>
    <tr class="tr-data">
      <td class="cell-data">Alejandro Mendoza Nepomuceno</td>
      <td class="cell-data">Responsable de calle</td>
      <td class="cell-data"></td>
      <td class="btn-td">
        <button class="alert-ok"><img src="assets/img/shared/edit.png" alt=""></button>
      </td>
      <td class="btn-td">
        <button class="alert-error">X</button>
      </td>
    </tr>
  </table>
</div>

