<div class="container-full">

  <div class="section-members">

    <h3
      class="title md-light"
      [ngClass]="{'md-dark': !lightModeEnabled, 'md-light': lightModeEnabled}"
    >
      Representantes de Comisión
    </h3>

    <div class="type-commision">
      <div class="cont-type">
        <p>Tipo de Comision: </p>
        <p>Agua Potable</p>
      </div>

      <div class="cont-type">
        <p>Periodo de trabajo:</p>
        <select name="año">
          <option value="2018">2018</option>
          <option value="2018">2019</option>
          <option value="2018">2020</option>
          <option value="2018">2018</option>
          <option value="2018">2021</option>
          <option value="2018">2022</option>
          <option value="2018">2023</option>
        </select>

        <select name="año">
          <option value="2018">2018</option>
          <option value="2018">2019</option>
          <option value="2018">2020</option>
          <option value="2018">2018</option>
          <option value="2018">2021</option>
          <option value="2018">2022</option>
          <option value="2018">2023</option>
        </select>
      </div>

      <div class="cont-table">
        <table>
          <tr>
            <td class="cell-init">Presidente:</td>
            <td class="cell-data">Claudio Perez Garcia</td>
            <td class="cell-data">Rodolfo Bello Avila</td>
            <td class="cell-data">Alexander Reyes Garcia</td>
            <td>
              <button>cambiar</button>
            </td>
          </tr>
          <tr>
            <td class="cell-init">Periodo:</td>
            <td class="cell-data">2021-2021</td>
            <td class="cell-data">2021-2022</td>
            <td class="cell-data">2023-2023</td>
            <td></td>
          </tr>
        </table>
      </div>

      <div class="cont-table">
        <table>
          <tr>
            <td class="cell-init">Secretario:</td>
            <td class="cell-data">Claudio Perez Garcia</td>
            <td>
              <button>cambiar</button>
            </td>
          </tr>
          <tr>
            <td class="cell-init">Periodo:</td>
            <td class="cell-data">2021-2023</td>
            <td></td>
          </tr>
        </table>
      </div>

      <div class="cont-table">
        <table>
          <tr>
            <td class="cell-init">Tesorero:</td>
            <td class="cell-data">Rodolfo Bello Avila</td>
            <td class="cell-data">Claudio Perez Garcia</td>
            <td>
              <button>cambiar</button>
            </td>
          </tr>
          <tr>
            <td class="cell-init">Periodo:</td>
            <td class="cell-data">2021-2022</td>
            <td class="cell-data">2021-2021</td>
            <td></td>
          </tr>
        </table>
      </div>

    </div>

  </div>

  <div class="section-members">
    <h3
      class="title md-light"
      [ngClass]="{'md-dark': !lightModeEnabled, 'md-light': lightModeEnabled}"
    >
      Equipo de Trabajo
    </h3>
    <app-work-team></app-work-team>
  </div>

  <div class="section-members">
    <h3
      class="title md-light"
      [ngClass]="{'md-dark': !lightModeEnabled, 'md-light': lightModeEnabled}"
    >
      No Participaron
    </h3>
    <app-dont-work></app-dont-work>
  </div>

</div>
