.section-members {
  margin: 15px 0 40px 0;
  width: 100%;
  border: 1px solid #a2a2a245;
  padding: 15px 10px 5px 10px;
  border-radius: 5px;
  font-size: .9rem;
  position: relative;
}

.section-members .title {
  text-align: center;
  width: 280px;
  padding: 5px 0;
  margin: auto;
  margin-top: -30px;
  border-radius: 5px;
}

.cont-type {
  display: flex;
  gap: 10px;
  margin: 7px 0;
}

.cont-type p:first-child {
  font-weight: bold;
}

.divider {
  width: 100%;
  height: 10px;
}

.cell-init {
  font-weight: bold;
  width: 110px;
}

.cell-data {
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
}

.cont-table {
  padding-bottom: 10px;
}

.cont-table table {
  width: auto;
}

.cont-table tr td button {
  width: auto;
  padding: 3px 7px;
  background: var(--color-primary);
  color: var(--text-color-primary);
  font-size: .8rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -2px 2px 4px #4c4c4c;
  transition: .3s ease all;
}

.cont-table tr td button:hover {
  box-shadow: none;
  color: var(--text-color-primary);
}
