.cont-table {
  padding: 5px 0;
}

.cell-init {
  font-weight: bold;
  width: 110px;
}

.cell-data {
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
}

.cont-table table {
  width: auto;
}

.cont-table tr td button {
  width: auto;
  margin-left: 10px;
  padding: 3px 7px;
  background: var(--color-primary);
  color: var(--text-color-primary);
  font-size: .8rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -2px 2px 4px #606060;
  transition: .3s ease all;
}

.cont-table tr td button:hover {
  box-shadow: none;
  color: var(--text-color-primary);
}
