.cont-table {
  margin: 8px 0;
}

.cell-init {
  font-weight: bold;
  width: 110px;
}

.cell-data {
  padding: 0 25px 0 0;
  text-align: center;
  white-space: nowrap;
}

.cont-table table {
  width: auto;
}

.cont-table tr td.change {
  width: auto;
}
