<div class="cont-table">
  <table>
    <tr>
      <td class="cell-init">Presidente:</td>
      <td class="cell-data">Claudio Perez Garcia</td>
      <td class="change">
        <app-citizens-modal
          [titleButton]="'cambiar'"
          [titleModal]="'Cambiar Presidente'"
        >
        </app-citizens-modal>
      </td>
    </tr>
  </table>
</div>

<div class="cont-table">
  <table>
    <tr>
      <td class="cell-init">Secretario:</td>
      <td class="cell-data">Rodolfo Bello Avila</td>
      <td class="change">
        <app-citizens-modal
          [titleButton]="'cambiar'"
          [titleModal]="'Cambiar Secretario'"
        >
        </app-citizens-modal>
      </td>
    </tr>
  </table>
</div>

<div class="cont-table">
  <table>
    <tr>
      <td class="cell-init">Tesorero:</td>
      <td class="cell-data">Claudio Perez Garcia</td>
      <td class="change">
        <app-citizens-modal
          [titleButton]="'cambiar'"
          [titleModal]="'Cambiar Tesorero'"
        >
        </app-citizens-modal>
      </td>
    </tr>
  </table>
</div>
