<div class="cont-table">
  <table>
    <tr>
      <td class="cell-init">Presidente:</td>
      <td class="cell-data">Claudio Perez Garcia</td>
    </tr>
  </table>
</div>

<div class="cont-table">
  <table>
    <tr>
      <td class="cell-init">Secretario:</td>
      <td class="cell-data">Rodolfo Bello Avila</td>
    </tr>
  </table>
</div>

<div class="cont-table">
  <table>
    <tr>
      <td class="cell-init">Tesorero:</td>
      <td class="cell-data">Claudio Perez Garcia</td>
    </tr>
  </table>
</div>
