.btn-add {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-add button {
  padding: 5px 10px;
  border-radius: 10px;
  background: var(--color-primary);
  color: var(--text-color-primary);
  cursor: pointer;
  box-shadow: -2px 2px 4px #606060;
  margin-bottom: 5px;
  transition: .3s ease all;
}

.btn-add button:hover {
  box-shadow: none;
}
