<div class="btn-add">
  <button (click)="statusModal()">{{ titleButton }}</button>
</div>


<div [ngClass]="{'modal-window-container': modalEnabled, 'modal-disabled': !modalEnabled}">
  <div class="modal-window" [ngClass]="{'md-light': lightModeEnabled, 'md-dark': !lightModeEnabled}">

    <div class="header-window">
      <div></div>
      <h4>{{ titleModal }}</h4>
      <div (click)="statusModal()" class="exit">
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>

    <div class="body-modal">

      <div class="form-group">
        <input
          type="text"
          [id]="titleModal"
          class="form-input"
          [ngClass]="{'md-light': lightModeEnabled, 'md-dark': !lightModeEnabled}"
          placeholder=" "
          [value]="searchCitizen"
        >
        <label [for]="titleModal">Buscar ciudadano</label>
      </div>

      <div class="citizen-list" [ngClass]="{'citizen-list-light': lightModeEnabled, 'citizen-list-dark': !lightModeEnabled}">
        <div class="citizen" (click)="changeName('Luis Pablo Canul Garcia')">
          <p class="name">Luis Pablo Canul Garcia</p>
          <p>Calle San Agustin Oriente</p>
        </div>
        <div class="citizen">
          <p class="name">Luis Pablo Canul Garcia</p>
          <p>Calle San Agustin Oriente</p>
        </div>
        <div class="citizen">
          <p class="name">Luis Pablo Canul Garcia</p>
          <p>Calle San Agustin Oriente</p>
          <p>No Asignado</p>
        </div>
      </div>

    </div>

    <div class="footer-modal">
      <div class="cont-btns">
        <button>Seleccionar</button>
        <button>Cancelar</button>
      </div>
    </div>

  </div>
</div>
