<app-create-citizen></app-create-citizen>

<div class="cont-table">
  <table>
    <tr class="tr-title">
      <th class="cell-init">Nombre</th>
      <th class="cell-init">Apellido Paterno</th>
      <th class="cell-init">Apellido Materno</th>
      <th class="cell-init">CURP</th>
      <th class="cell-init">INE</th>
      <th class="cell-init">Direccion</th>
      <th class="cell-init">Calle</th>
      <th class="cell-init">Tipo de servicio</th>
      <th class="cell-init">Observaciones</th>
    </tr>

    <tr class="tr-data">
      <td class="cell-data">Javier</td>
      <td class="cell-data">Flores</td>
      <td class="cell-data">Ibañes</td>
      <td class="cell-data">FLIJALGOMAS</td>
      <td class="cell-data">123SDFES</td>
      <td class="cell-data">Abasolo 22</td>
      <td class="cell-data">Calle 3</td>
      <td class="cell-data">Agua</td>
      <td class="cell-data"></td>
    </tr>
  </table>
</div>
