<div class="cont-table">
  <table>
    <tr>
      <th>Nombre</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>CURP</th>
      <th>INE</th>
      <th>Direccion</th>
      <th>Calle</th>
      <th>Tipo de servicio</th>
      <th>Observaciones</th>
    </tr>

    <tr>
      <td>Javier</td>
      <td>Flores</td>
      <td>Ibañes</td>
      <td>FLIJALGOMAS</td>
      <td>123SDFES</td>
      <td>Abasolo 22</td>
      <td>Calle 3</td>
      <td>Agua</td>
      <td></td>
    </tr>
  </table>
</div>
