<app-create-citizen></app-create-citizen>

<div class="cont-table">
  <table>
    <tr class="tr-title">
      <th class="cell-init">Nombre</th>
      <th class="cell-init">Apellido Paterno</th>
      <th class="cell-init">Apellido Materno</th>
      <th class="cell-init">CURP</th>
      <th class="cell-init">INE</th>
      <th class="cell-init">Direccion</th>
      <th class="cell-init">Calle</th>
      <th class="cell-init">Tipo de servicio</th>
      <th class="cell-init">Observaciones</th>
    </tr>

    <tr class="tr-data" *ngFor="let citizen of citizens">
      <td class="cell-data">{{ citizen.name }}</td>
      <td class="cell-data">{{ citizen.lastName }}</td>
      <td class="cell-data">{{ citizen.motherLastName }}</td>
      <td class="cell-data">{{ citizen.curp }}</td>
      <td class="cell-data">{{ citizen.ine }}</td>
      <td class="cell-data">{{ citizen.address }}</td>
      <td class="cell-data">{{ citizen.street }}</td>
      <td class="cell-data">{{ citizen.serviceType }}</td>
      <td class="cell-data">{{ citizen.observations }}</td>
    </tr>
  </table>
</div>
