<nav [ngClass]="{'md-dark': lightModeEnabled, 'md-light': !lightModeEnabled}">

  <div (click)="changeStatusMenu()" class="cont-menu" [ngClass]="{'active': menuEnabled}">
    <div class="line" [ngClass]="{'md-dark': !lightModeEnabled, 'md-light': lightModeEnabled}"></div>
    <div class="line" [ngClass]="{'md-dark': !lightModeEnabled, 'md-light': lightModeEnabled}"></div>
    <div class="line" [ngClass]="{'md-dark': !lightModeEnabled, 'md-light': lightModeEnabled}"></div>
  </div>

  <div class="sesion">
    <app-dark-light-mode></app-dark-light-mode>
    <p>Luis Pablo</p>
  </div>

  <button class="log-out" [ngClass]="{'md-dark': lightModeEnabled, 'md-light': !lightModeEnabled}">
    Cerrar Sesion
  </button>

</nav>
