<div class="cont-table">
  <table>
    <tr class="tr-title">
      <th class="cell-init">Nombre</th>
      <th class="cell-init">Puesto</th>
      <th class="cell-init">Observaciones</th>
      <th class="cell-init" style="text-align: center;">Eliminar</th>
    </tr>

    <tr class="tr-data">
      <td class="cell-data">Javier Flores Ibañez</td>
      <td class="cell-data">Responsable de Calle</td>
      <td class="cell-data"></td>
      <td class="btn-td">
        <button>X</button>
      </td>
    </tr>
    <tr class="tr-data">
      <td class="cell-data">Victor Zeferino Garcia</td>
      <td class="cell-data">Apoyo</td>
      <td class="cell-data"></td>
      <td class="btn-td">
        <button>X</button>
      </td>
    </tr>
    <tr class="tr-data">
      <td class="cell-data">Marco Antonio Romero Reyes</td>
      <td class="cell-data">Apoyo</td>
      <td class="cell-data"></td>
      <td class="btn-td">
        <button>X</button>
      </td>
    </tr>
    <tr class="tr-data">
      <td class="cell-data">Alejandro Mendoza Nepomuceno</td>
      <td class="cell-data">Responsable de calle</td>
      <td class="cell-data"></td>
      <td class="btn-td">
        <button>X</button>
      </td>
    </tr>
  </table>
</div>
