@font-face {
  font-family: font-primary;
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
  outline: 0;
  border: 0;
  font-family: font-primary;
}

table {
  border-collapse: collapse;
}

:root {
  --md-light: #ffffff;
  --md-dark: #343342;

  /* ### COLORS ### */
  --color-primary: #ffc340;
  --text-color-primary: #000;
  --alert-error: #ff4045;
  --alert-ok: #0e983c;

}

.md-light {
  background: var(--md-light);
  color: var(--md-dark);
}

.md-dark {
  background: var(--md-dark);
  color: #d6d6d6;
}

.md-light, .md-dark {
  transition: background 0.3s ease;
}

.alert-ok {
  background: #0e983c;
}

.alert-error {
  background: #ff4045;
}

/* ============================================================
DESKTOP
============================================================ */
.container-full {
  width: 100%;
}

.cont-table {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  overflow-x: auto;
  margin: 10px 0;
}


/* ================= MODAL WINDOW ====================== */

.modal-window-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  /* display: none; */
  align-items: center;
  justify-content: center;
  background: rgba(20, 20, 20, 0.798);
  top: 0;
  left: 0;
  z-index: 100;
}

.modal-window {
  width: 40%;
  height: 60%;
  border-radius: 10px;
  overflow: auto;
}

.header-window {
  width: 100%;
  background: #b2b2b2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 15px;
}

.header-window .exit {
  width: 25px;
  height: 25px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-window .exit .line {
  width: 100%;
  height: 4px;
  position: absolute;
  display: flex;
  background: #000;
  border-radius: 5px;
  transition: .3s ease-in-out all;
}

.header-window .exit:hover  .line {
  background: var(--alert-color);
}

.exit .line:nth-child(1) {
  transform: rotate(45deg);
}

.exit .line:nth-child(2) {
  transform: rotate(-45deg);
}

/* ================= SECTION ====================== */

.section-container {
  margin: 15px 0 40px 0;
  width: 100%;
  border: 1px solid #a2a2a245;
  padding: 15px 10px 5px 10px;
  border-radius: 5px;
  font-size: .9rem;
  position: relative;
}

.section-container .section-title {
  text-align: center;
  width: 280px;
  padding: 5px 0;
  margin: auto;
  margin-top: -30px;
  border-radius: 5px;
}

.section-body {
  width: 100%;
}


/* ============================================================
TABLETS
============================================================ */
@media screen and (min-width: 601px) and (max-width: 912px) {}

/* ============================================================
PHONE
============================================================ */
@media screen and (max-width: 600px) {}
