@font-face {
  font-family: font-primary;
  src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
  outline: 0;
  border: 0;
  font-family: font-primary;
}

table {
  border-collapse: collapse;
}

:root {
  --md-light: #ffffff;
  --md-dark: #343342;

  /* ### COLORS ### */
  --color-primary: #ff4045;
}

.md-light {
  background: var(--md-light);
  color: var(--md-dark);
}

.md-dark {
  background: var(--md-dark);
  color: var(--md-light);
}

.md-light, .md-dark {
  transition: background 0.3s ease;
}

.alert-ok {
  background: #39d58a;
}

.alert-error {
  background: #ff4045;
}

/* ============================================================
DESKTOP
============================================================ */
.container-full {
  width: 100%;
}

.cont-table {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  overflow-x: auto;
  margin: 10px 0;
}

/* ============================================================
TABLETS
============================================================ */
@media screen and (min-width: 601px) and (max-width: 912px) {}

/* ============================================================
PHONE
============================================================ */
@media screen and (max-width: 600px) {}
